<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Fake Entry</title>
</head>
<body>
    <div class="resize">
        <img src="/images/fakeEntry.png" alt="" id="logo" class="image"> 
    </div>
    {{{body}}}
</body>
</html>