<div class="container">
        <div class="image">
            <img src="./images/fakeEntry.png" alt="" id="logo">
        </div>
        <div class="display">
            <div class="check-out">
                FakeEntry {{status}}
            </div>
            <div>{{date}}</div>
            <div>{{name}}</div> 
        </div>
</div>