<div class="container">
        <div class="resize">
            <img src="/images/fakeEntry.png" alt="" id="logo" class="image"> 
        </div>
        <div class="display">
            <div class="check-out">
                FakeEntry {{status}}
            </div>
            <div>{{date}}</div>
            <div class="place-name">{{name}}</div>
        </div>
</div>