<header id="main-header">
    <h5>A Fake Agency Website</h5>
</header>
<div class="container">
    <div class="display">
        <h6> You are visiting </h6>
        <h1>{{name}}</h1> 
    </div>
    <a class ="button" href={{qrcodelink}}>Check - In</a>
    <p></p>
    <a class ="button" href={{checkoutlink}}>Check - Out</a>
</div>