<div class = "container">
    <nav>
        <a href="/">
            Back
        </a>
    </nav>
    <div class="display">
        You have registered <strong>{{name}}</strong> 
        <p><a href={{qrcodelink}}>{{qrcodelink}}</a></p>
        <p>To access the link through QR code</p> 
        <img src={{qrcode}} alt="star" width="200" height="200">
    </div>
</div>