<div class="container">
    <p></p>
    <div class="image">
        <img src="./images/fakeEntry.png" alt="" id="logo">
    </div>
    <div class="display">
        <h3>Register with business email</h3>
        <form action="/api/register" method="POST" class="my-form">
            <div class="form-group">
                <p><label for="biz">Buisness name</label></p>
                <input type="text" name="name" class="biz-name">
            </div>
            <div class="form-group">
                <p><label for="email">Business email</label></p>
                <input type="email" name="email" class="email">
            </div>
                <input class="button" type="submit" value="Register" name="">
        </form>
    </div>
</div>