<div class="container">
        <div class="display">
            <div class="check-in">
                FakeEntry {{status}}
            </div>
            <h3>{{date}}</h3>
            <div class="place-name">{{name}}</div> 
        </div>
        <form action="{{api}}" method="POST" class="my-form">
            {{#if checkOut}}
            <input class="button" type="submit" value="Check-Out" name="">
            {{/if}}
        </form>
</div>