<div class="container">
        <nav>
            <a href="/">
                Back
            </a>
        </nav>
        <div class="image">
            <img src="./images/fakeEntry.png" alt="" id="logo">
        </div>
        <div class="display">
            <div class="check-in">
                FakeEntry {{status}}
            </div>
            <div>{{date}}</div>
            <div>{{name}}</div> 
        </div>
        <form action="{{api}}" method="POST" class="my-form">
            {{#if checkOut}}
            <input class="button" type="submit" value="Check-Out" name="">
            {{/if}}
        </form>
</div>